<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaxuan.food.repository.mapper.FacilityInfoMapper">
    <!-- 实体类映射 -->
    <resultMap id="FacilityInfoMap" type="com.yaxuan.food.model.entity.FacilityInfo">
        <id property="id" column="id"/>
        <result property="locationId" column="locationid"/>
        <result property="applicant" column="applicant"/>
        <result property="facilityType" column="facility_type"/>
        <result property="cnn" column="cnn"/>
        <result property="locationDescription" column="location_description"/>
        <result property="address" column="address"/>
        <result property="block" column="block"/>
        <result property="lot" column="lot"/>
        <result property="foodItems" column="food_items"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="dayshours" column="dayshours"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, locationid, applicant, facility_type, cnn, location_description,
               address, block, lot, food_items, latitude, longitude, dayshours
    </sql>


    <!-- 根据 ID 查询 -->
    <select id="selectById" resultMap="FacilityInfoMap">
        SELECT <include refid="Base_Column_List" />
        FROM Mobile_Food_Facility_Info
        WHERE id = #{id}
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultMap="FacilityInfoMap">
        SELECT <include refid="Base_Column_List" />
        FROM Mobile_Food_Facility_Info
    </select>

    <!-- 根据 application 查询 -->
    <select id="selectByApplicant" resultMap="FacilityInfoMap">
        SELECT <include refid="Base_Column_List" />
        FROM Mobile_Food_Facility_Info
        WHERE applicant = #{applicant}
    </select>

</mapper>